@page "/"

@inject NavigationManager navigationManager

<PageTitle>Index</PageTitle>

<div class="card-columns">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">From home</h5>
            @*<a href="request" class="btn btn-primary stretched-link">Service: 8</a>*@
            <button @onclick="@(() => NavigateToRequestPage("6200206810"))">Service: 8</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            @*<h5 class="card-title">From home</h5>*@
            <button @onclick="@(() => NavigateToRequestPage("6200205130"))">Serviced: 27 & 23</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            @*<h5 class="card-title">From home</h5>*@
            <button @onclick="@(() => NavigateToRequestPage("6200244830"))">Serviced: 36</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">From Hanover Street to Home</h5>
            <button @onclick="@(() => NavigateToRequestPage("6200243600"))">Serviced: 8, 23, 27, 41</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">From Surgeons' Hall to Home</h5>
            <button @onclick="@(() => NavigateToRequestPage("6200240120"))">Serviced: 8, ...</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">From Gym to Home</h5>
            <button @onclick="@(() => NavigateToRequestPage("6200206160"))">Serviced: 23, 27</button>
        </div>
    </div>
</div>

@code{
    private void NavigateToRequestPage(string value)
    {
        navigationManager.NavigateTo($"/request/{value}");

    }
}
